* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body, html {
  height: auto;
  min-height: 100vh !important;
}


.main {
  width: 100%;
  height: 100vh;
}

video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  margin-bottom: -5px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.aboutContent {
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 15vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow:inherit;
}

.about {
  position: absolute;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8%;
  background-color: orange;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.headerTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4%;
  z-index: 2500;
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: block;
}

.headerSecond {
  width: 100%;
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.headerThird {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.headerNav {
  display: block;
}

.headerUL {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerA {
  letter-spacing: 0.1em;
  margin-left: 1.5em;
  font-size: 1em;
  font-weight: 600;
  position: relative;
  color: white;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: indianred;
  text-decoration-thickness: 5px;
  text-decoration-style:solid;
}

.headerA2 {
  letter-spacing: 0.1em;
  margin-left: 1.5em;
  font-size: 1em;
  position: relative;
  font-weight: 600;
  color: white;
  background-color: transparent;
  text-decoration: inherit;
}

button {
  background: none!important;
  border: none!important;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}


.slide-to-left::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
.slide-to-left::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
.slide-to-right::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}
.slide-to-right::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes slide-from-right {
  from {
    transform: translateX(50%);
  }
}
@keyframes slide-to-left {
  to {
    transform: translateX(-50%);
  }
}
@keyframes slide-from-left {
  from {
    transform: translateX(-50%);
  }
}
@keyframes slide-to-right {
  to {
    transform: translateX(50%);
  }
}